node_modules
.DS_store
.idea

/build
/public/build
/server-build
.env
.cache

/prisma/data.db
/prisma/data.db-journal
/prisma/generated
/tests/prisma

/test-results/
/playwright-report/
/playwright/.cache/
/tests/fixtures/email/
/coverage

/other/cache.db

# Easy way to create temporary files/folders that won't accidentally be added to git
*.local.*

# react router v7 generated types
.react-router

*.db
/postgres-data
/tests/fixtures/uploaded
/tests/fixtures/openimg
